<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>flex</title>
  <link rel="stylesheet" href="./styles/main.css" media="screen" title="no title" charset="utf-8">
  <link rel="shortcut icon" href="assets/favicon.png">
  <link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <script src="//cdn.bootcss.com/jquery/3.0.0-alpha1/jquery.min.js"></script>
</head>

<body>
  <div class="app-wrap" contenteditable=true>
    <header class="app-header">
      <a class="button" href="#">
        <i class="fa fa-arraw-left"></i> Back
      </a>
      <h1>panshao</h1>
      <a href="#" class="button">
        <i class="fa fa-cog"></i>
      </a>
    </header>
    <section class="siderbar">
      <h1>panshao</h1>
      <a href="index.html">
        <i class="fa fa-home"></i> Home
      </a>
      <a href="blog.html">
        <i class="fa fa-book"></i> Blog
      </a>
      <a href="work.html">
        <i class="fa fa-diamond"></i> Work
      </a>
      <a href="about.html">
        <i class="fa fa-user"></i> Me
      </a>
    </section>
    <div class="content">

      <%= contents %>

    </div>
    <footer class="app-footer">
      <a href="index.html">
        <i class="fa fa-home"></i> Home
      </a>
      <a href="book.html">
        <i class="fa fa-book"></i> Blog
      </a>
      <a href="work.html">
        <i class="fa fa-diamond"></i> Work
      </a>
      <a href="about.html">
        <i class="fa fa-user"></i> Me
      </a>
    </footer>
  </div>
  <script src="./js/main.js"></script>
</body>

</html>
